.DisplayAuthors {
  .addNewAuthor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--accent40);
    cursor: pointer;
    &:hover {
      background-color: var(--accent60);
    }
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    font-weight: 600;
    input {
      width: 100%;
      border-radius: 8px;
      border: none;
      padding: 10px;
    }
  }

  .Authors-table-container {
    width: 100%;
  }
  .Authors-table {
    width: 100%;
    th {
      background-color: var(--accent20);
      color: var(--primary);
    }
    th,
    td {
      border: 1px solid var(--accent40);
      padding: 10px;
      text-align: left;
    }
  }
  .flexActions {
    table-layout: fixed;
    border-collapse: collapse;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    .view-btn {
      color: rgb(100, 167, 0);
      cursor: pointer;
      &:hover {
        color: rgb(0, 255, 0);
      }
    }
    .edit-btn {
      cursor: pointer;
      &:hover {
        color: var(--primary);
      }
    }

    .delete-btn {
      color: rgb(174, 94, 94);
      cursor: pointer;
      &:hover {
        color: rgb(255, 0, 0);
      }
    }
  }
}
