input,
textarea {
  border: 1px solid var(--Atext);
  border-radius: 0.5rem;
}

.btn.add {
  background-color: var(--Aaccent);
  color: var(--Abg);
  &:hover {
    background-color: var(--Asecondary);
  }
  transition: all 0.3s ease;
}

.btn.cancel {
  background-color: var(--Asecondary10);
  color: var(--Atext);
  &:hover {
    background-color: var(--Asecondary20);
  }
  transition: all 0.3s ease;
}
