@import "tailwindcss";

@plugin "tailwindcss-animate";

/* @custom-variant dark (&:is(.dark *)); */
:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --Atext: #080b04;
  --Abg: #fafbf4;
  --Aprimary: #86b337;
  --Asecondary: #1e6255;
  --Aaccent: #2b748c;
  --Atextcontrast: #64d97b;
  --Abgcontrast: #64d97b;
  --Aprimarycontrast: #64d97b;
  --Asecondarycontrast: #ffdd00;
  --Aaccentcontrast: #ffdd00;
  --Atext5: hsl(69, 47%, 97%, 5%);
  --Atext10: hsl(69, 47%, 97%, 10%);
  --Atext15: hsl(69, 47%, 97%, 15%);
  --Atext20: hsl(69, 47%, 97%, 20%);
  --Atext25: hsl(69, 47%, 97%, 25%);
  --Atext30: hsl(69, 47%, 97%, 30%);
  --Atext35: hsl(69, 47%, 97%, 35%);
  --Atext40: hsl(69, 47%, 97%, 40%);
  --Atext45: hsl(69, 47%, 97%, 45%);
  --Atext50: hsl(69, 47%, 97%, 50%);
  --Atext55: hsl(69, 47%, 97%, 55%);
  --Atext60: hsl(69, 47%, 97%, 60%);
  --Atext65: hsl(69, 47%, 97%, 65%);
  --Atext70: hsl(69, 47%, 97%, 70%);
  --Atext75: hsl(69, 47%, 97%, 75%);
  --Atext80: hsl(69, 47%, 97%, 80%);
  --Atext85: hsl(69, 47%, 97%, 85%);
  --Atext90: hsl(69, 47%, 97%, 90%);
  --Atext95: hsl(69, 47%, 97%, 95%);
  --Aprimary5: hsl(82, 53%, 46%, 5%);
  --Aprimary10: hsl(82, 53%, 46%, 10%);
  --Aprimary15: hsl(82, 53%, 46%, 15%);
  --Aprimary20: hsl(82, 53%, 46%, 20%);
  --Aprimary25: hsl(82, 53%, 46%, 25%);
  --Aprimary30: hsl(82, 53%, 46%, 30%);
  --Aprimary35: hsl(82, 53%, 46%, 35%);
  --Aprimary40: hsl(82, 53%, 46%, 40%);
  --Aprimary45: hsl(82, 53%, 46%, 45%);
  --Aprimary50: hsl(82, 53%, 46%, 50%);
  --Aprimary55: hsl(82, 53%, 46%, 55%);
  --Aprimary60: hsl(82, 53%, 46%, 60%);
  --Aprimary65: hsl(82, 53%, 46%, 65%);
  --Aprimary70: hsl(82, 53%, 46%, 70%);
  --Aprimary75: hsl(82, 53%, 46%, 75%);
  --Aprimary80: hsl(82, 53%, 46%, 80%);
  --Aprimary85: hsl(82, 53%, 46%, 85%);
  --Aprimary90: hsl(82, 53%, 46%, 90%);
  --Aprimary95: hsl(82, 53%, 46%, 95%);
  --Asecondary5: hsl(169, 53%, 25%, 5%);
  --Asecondary10: hsl(169, 53%, 25%, 10%);
  --Asecondary15: hsl(169, 53%, 25%, 15%);
  --Asecondary20: hsl(169, 53%, 25%, 20%);
  --Asecondary25: hsl(169, 53%, 25%, 25%);
  --Asecondary30: hsl(169, 53%, 25%, 30%);
  --Asecondary35: hsl(169, 53%, 25%, 35%);
  --Asecondary40: hsl(169, 53%, 25%, 40%);
  --Asecondary45: hsl(169, 53%, 25%, 45%);
  --Asecondary50: hsl(169, 53%, 25%, 50%);
  --Asecondary55: hsl(169, 53%, 25%, 55%);
  --Asecondary60: hsl(169, 53%, 25%, 60%);
  --Asecondary65: hsl(169, 53%, 25%, 65%);
  --Asecondary70: hsl(169, 53%, 25%, 70%);
  --Asecondary75: hsl(169, 53%, 25%, 75%);
  --Asecondary80: hsl(169, 53%, 25%, 80%);
  --Asecondary85: hsl(169, 53%, 25%, 85%);
  --Asecondary90: hsl(169, 53%, 25%, 90%);
  --Asecondary95: hsl(169, 53%, 25%, 95%);
  --Aaccent5: hsl(195, 53%, 36%, 5%);
  --Aaccent10: hsl(195, 53%, 36%, 10%);
  --Aaccent15: hsl(195, 53%, 36%, 15%);
  --Aaccent20: hsl(195, 53%, 36%, 20%);
  --Aaccent25: hsl(195, 53%, 36%, 25%);
  --Aaccent30: hsl(195, 53%, 36%, 30%);
  --Aaccent35: hsl(195, 53%, 36%, 35%);
  --Aaccent40: hsl(195, 53%, 36%, 40%);
  --Aaccent45: hsl(195, 53%, 36%, 45%);
  --Aaccent50: hsl(195, 53%, 36%, 50%);
  --Aaccent55: hsl(195, 53%, 36%, 55%);
  --Aaccent60: hsl(195, 53%, 36%, 60%);
  --Aaccent65: hsl(195, 53%, 36%, 65%);
  --Aaccent70: hsl(195, 53%, 36%, 70%);
  --Aaccent75: hsl(195, 53%, 36%, 75%);
  --Aaccent80: hsl(195, 53%, 36%, 80%);
  --Aaccent85: hsl(195, 53%, 36%, 85%);
  --Aaccent90: hsl(195, 53%, 36%, 90%);
  --Aaccent95: hsl(195, 53%, 36%, 95%);
}
.dark {
  --Atext: #fafbf4;
  --Abg: #080b04;
  --Aprimary: #2f27ce;
  --Asecondary: #dedcff;
  --Aaccent: #433bff;

  --Atext5: #180202;
  --Atext10: #180202;
  --Atext20: #180202;
  --Atext30: #180202;
  --Atext40: #180202;
  --Atext50: #180202;
  --Atext60: #180202;
  --Atext70: #180202;
  --Atext80: #180202;
  --Atext90: #180202;
  --Atext95: #180202;
  --Abg5: #fafafa;
  --Abg10: #fafafa;
  --Abg20: #fafafa;
  --Abg30: #fafafa;
  --Abg40: #fafafa;
  --Abg50: #fafafa;
  --Abg60: #fafafa;
  --Abg70: #fafafa;
  --Abg80: #fafafa;
  --Abg90: #fafafa;
  --Abg95: #fafafa;
}
