@import "tailwindcss";

@plugin "tailwindcss-animate";

/* @custom-variant dark (&:is(.dark *)); */
:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* :root {
  --Atext: #080b04;
  --Abg: #fafbf4;
  --Aprimary: #86b337;
  --Asecondary: #1e6255;
  --Aaccent: #2b748c;
  --Atextcontrast: #64d97b;
  --Abgcontrast: #64d97b;
  --Aprimarycontrast: #64d97b;
  --Asecondarycontrast: #ffdd00;
  --Aaccentcontrast: #ffdd00;
  --Atext5: hsl(69, 47%, 97%, 5%);
  --Atext10: hsl(69, 47%, 97%, 10%);
  --Atext15: hsl(69, 47%, 97%, 15%);
  --Atext20: hsl(69, 47%, 97%, 20%);
  --Atext25: hsl(69, 47%, 97%, 25%);
  --Atext30: hsl(69, 47%, 97%, 30%);
  --Atext35: hsl(69, 47%, 97%, 35%);
  --Atext40: hsl(69, 47%, 97%, 40%);
  --Atext45: hsl(69, 47%, 97%, 45%);
  --Atext50: hsl(69, 47%, 97%, 50%);
  --Atext55: hsl(69, 47%, 97%, 55%);
  --Atext60: hsl(69, 47%, 97%, 60%);
  --Atext65: hsl(69, 47%, 97%, 65%);
  --Atext70: hsl(69, 47%, 97%, 70%);
  --Atext75: hsl(69, 47%, 97%, 75%);
  --Atext80: hsl(69, 47%, 97%, 80%);
  --Atext85: hsl(69, 47%, 97%, 85%);
  --Atext90: hsl(69, 47%, 97%, 90%);
  --Atext95: hsl(69, 47%, 97%, 95%);
  --Aprimary5: hsl(82, 53%, 46%, 5%);
  --Aprimary10: hsl(82, 53%, 46%, 10%);
  --Aprimary15: hsl(82, 53%, 46%, 15%);
  --Aprimary20: hsl(82, 53%, 46%, 20%);
  --Aprimary25: hsl(82, 53%, 46%, 25%);
  --Aprimary30: hsl(82, 53%, 46%, 30%);
  --Aprimary35: hsl(82, 53%, 46%, 35%);
  --Aprimary40: hsl(82, 53%, 46%, 40%);
  --Aprimary45: hsl(82, 53%, 46%, 45%);
  --Aprimary50: hsl(82, 53%, 46%, 50%);
  --Aprimary55: hsl(82, 53%, 46%, 55%);
  --Aprimary60: hsl(82, 53%, 46%, 60%);
  --Aprimary65: hsl(82, 53%, 46%, 65%);
  --Aprimary70: hsl(82, 53%, 46%, 70%);
  --Aprimary75: hsl(82, 53%, 46%, 75%);
  --Aprimary80: hsl(82, 53%, 46%, 80%);
  --Aprimary85: hsl(82, 53%, 46%, 85%);
  --Aprimary90: hsl(82, 53%, 46%, 90%);
  --Aprimary95: hsl(82, 53%, 46%, 95%);
  --Asecondary5: hsl(169, 53%, 25%, 5%);
  --Asecondary10: hsl(169, 53%, 25%, 10%);
  --Asecondary15: hsl(169, 53%, 25%, 15%);
  --Asecondary20: hsl(169, 53%, 25%, 20%);
  --Asecondary25: hsl(169, 53%, 25%, 25%);
  --Asecondary30: hsl(169, 53%, 25%, 30%);
  --Asecondary35: hsl(169, 53%, 25%, 35%);
  --Asecondary40: hsl(169, 53%, 25%, 40%);
  --Asecondary45: hsl(169, 53%, 25%, 45%);
  --Asecondary50: hsl(169, 53%, 25%, 50%);
  --Asecondary55: hsl(169, 53%, 25%, 55%);
  --Asecondary60: hsl(169, 53%, 25%, 60%);
  --Asecondary65: hsl(169, 53%, 25%, 65%);
  --Asecondary70: hsl(169, 53%, 25%, 70%);
  --Asecondary75: hsl(169, 53%, 25%, 75%);
  --Asecondary80: hsl(169, 53%, 25%, 80%);
  --Asecondary85: hsl(169, 53%, 25%, 85%);
  --Asecondary90: hsl(169, 53%, 25%, 90%);
  --Asecondary95: hsl(169, 53%, 25%, 95%);
  --Aaccent5: hsl(195, 53%, 36%, 5%);
  --Aaccent10: hsl(195, 53%, 36%, 10%);
  --Aaccent15: hsl(195, 53%, 36%, 15%);
  --Aaccent20: hsl(195, 53%, 36%, 20%);
  --Aaccent25: hsl(195, 53%, 36%, 25%);
  --Aaccent30: hsl(195, 53%, 36%, 30%);
  --Aaccent35: hsl(195, 53%, 36%, 35%);
  --Aaccent40: hsl(195, 53%, 36%, 40%);
  --Aaccent45: hsl(195, 53%, 36%, 45%);
  --Aaccent50: hsl(195, 53%, 36%, 50%);
  --Aaccent55: hsl(195, 53%, 36%, 55%);
  --Aaccent60: hsl(195, 53%, 36%, 60%);
  --Aaccent65: hsl(195, 53%, 36%, 65%);
  --Aaccent70: hsl(195, 53%, 36%, 70%);
  --Aaccent75: hsl(195, 53%, 36%, 75%);
  --Aaccent80: hsl(195, 53%, 36%, 80%);
  --Aaccent85: hsl(195, 53%, 36%, 85%);
  --Aaccent90: hsl(195, 53%, 36%, 90%);
  --Aaccent95: hsl(195, 53%, 36%, 95%);
} 
.dark {
  --Atext: #fafbf4;
  --Abg: #080b04;
  --Aprimary: #069d29;
  --Asecondary: #dedcff;
  --Aaccent: #b2dcf9;

  --Atext5: #180202;
  --Atext10: #180202;
  --Atext20: #180202;
  --Atext30: #180202;
  --Atext40: #180202;
  --Atext50: #180202;
  --Atext60: #180202;
  --Atext70: #180202;
  --Atext80: #180202;
  --Atext90: #180202;
  --Atext95: #180202;
  --Abg5: #fafafa;
  --Abg10: #fafafa;
  --Abg20: #fafafa;
  --Abg30: #fafafa;
  --Abg40: #fafafa;
  --Abg50: #fafafa;
  --Abg60: #fafafa;
  --Abg70: #fafafa;
  --Abg80: #fafafa;
  --Abg90: #fafafa;
  --Abg95: #fafafa;
}
*/
:root {
  --text: #0d0911;
  --background: #f4f1f8;
  --bg: #f4f1f8;
  --primary: #3f2c54;
  --secondary: #c897bf;
  --accent: #864667;
  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;
  --primarycontrast: #64d97b;
  --secondarycontrast: #64d97b;
  --accentcontrast: #ffdd00;
  --text5: hsl(270, 31%, 5%, 5%);
  --text10: hsl(270, 31%, 5%, 10%);
  --text15: hsl(270, 31%, 5%, 15%);
  --text20: hsl(270, 31%, 5%, 20%);
  --text25: hsl(270, 31%, 5%, 25%);
  --text30: hsl(270, 31%, 5%, 30%);
  --text35: hsl(270, 31%, 5%, 35%);
  --text40: hsl(270, 31%, 5%, 40%);
  --text45: hsl(270, 31%, 5%, 45%);
  --text50: hsl(270, 31%, 5%, 50%);
  --text55: hsl(270, 31%, 5%, 55%);
  --text60: hsl(270, 31%, 5%, 60%);
  --text65: hsl(270, 31%, 5%, 65%);
  --text70: hsl(270, 31%, 5%, 70%);
  --text75: hsl(270, 31%, 5%, 75%);
  --text80: hsl(270, 31%, 5%, 80%);
  --text85: hsl(270, 31%, 5%, 85%);
  --text90: hsl(270, 31%, 5%, 90%);
  --text95: hsl(270, 31%, 5%, 95%);
  --primary5: hsl(268, 31%, 25%, 5%);
  --primary10: hsl(268, 31%, 25%, 10%);
  --primary15: hsl(268, 31%, 25%, 15%);
  --primary20: hsl(268, 31%, 25%, 20%);
  --primary25: hsl(268, 31%, 25%, 25%);
  --primary30: hsl(268, 31%, 25%, 30%);
  --primary35: hsl(268, 31%, 25%, 35%);
  --primary40: hsl(268, 31%, 25%, 40%);
  --primary45: hsl(268, 31%, 25%, 45%);
  --primary50: hsl(268, 31%, 25%, 50%);
  --primary55: hsl(268, 31%, 25%, 55%);
  --primary60: hsl(268, 31%, 25%, 60%);
  --primary65: hsl(268, 31%, 25%, 65%);
  --primary70: hsl(268, 31%, 25%, 70%);
  --primary75: hsl(268, 31%, 25%, 75%);
  --primary80: hsl(268, 31%, 25%, 80%);
  --primary85: hsl(268, 31%, 25%, 85%);
  --primary90: hsl(268, 31%, 25%, 90%);
  --primary95: hsl(268, 31%, 25%, 95%);
  --secondary5: hsl(311, 31%, 69%, 5%);
  --secondary10: hsl(311, 31%, 69%, 10%);
  --secondary15: hsl(311, 31%, 69%, 15%);
  --secondary20: hsl(311, 31%, 69%, 20%);
  --secondary25: hsl(311, 31%, 69%, 25%);
  --secondary30: hsl(311, 31%, 69%, 30%);
  --secondary35: hsl(311, 31%, 69%, 35%);
  --secondary40: hsl(311, 31%, 69%, 40%);
  --secondary45: hsl(311, 31%, 69%, 45%);
  --secondary50: hsl(311, 31%, 69%, 50%);
  --secondary55: hsl(311, 31%, 69%, 55%);
  --secondary60: hsl(311, 31%, 69%, 60%);
  --secondary65: hsl(311, 31%, 69%, 65%);
  --secondary70: hsl(311, 31%, 69%, 70%);
  --secondary75: hsl(311, 31%, 69%, 75%);
  --secondary80: hsl(311, 31%, 69%, 80%);
  --secondary85: hsl(311, 31%, 69%, 85%);
  --secondary90: hsl(311, 31%, 69%, 90%);
  --secondary95: hsl(311, 31%, 69%, 95%);
  --accent5: hsl(329, 31%, 40%, 5%);
  --accent10: hsl(329, 31%, 40%, 10%);
  --accent15: hsl(329, 31%, 40%, 15%);
  --accent20: hsl(329, 31%, 40%, 20%);
  --accent25: hsl(329, 31%, 40%, 25%);
  --accent30: hsl(329, 31%, 40%, 30%);
  --accent35: hsl(329, 31%, 40%, 35%);
  --accent40: hsl(329, 31%, 40%, 40%);
  --accent45: hsl(329, 31%, 40%, 45%);
  --accent50: hsl(329, 31%, 40%, 50%);
  --accent55: hsl(329, 31%, 40%, 55%);
  --accent60: hsl(329, 31%, 40%, 60%);
  --accent65: hsl(329, 31%, 40%, 65%);
  --accent70: hsl(329, 31%, 40%, 70%);
  --accent75: hsl(329, 31%, 40%, 75%);
  --accent80: hsl(329, 31%, 40%, 80%);
  --accent85: hsl(329, 31%, 40%, 85%);
  --accent90: hsl(329, 31%, 40%, 90%);
  --accent95: hsl(329, 31%, 40%, 95%);
}
.dark {
  --text: #f2eef6;
  --bg: #0a070e;
  --background: #0a070e;

  --primary: #beabd3;
  --secondary: #68375d;
  --accent: #b8799a;
  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;
  --primarycontrast: #64d97b;
  --secondarycontrast: #64d97b;
  --accentcontrast: #ffdd00;
  --text5: hsl(270, 31%, 95%, 5%);
  --text10: hsl(270, 31%, 95%, 10%);
  --text15: hsl(270, 31%, 95%, 15%);
  --text20: hsl(270, 31%, 95%, 20%);
  --text25: hsl(270, 31%, 95%, 25%);
  --text30: hsl(270, 31%, 95%, 30%);
  --text35: hsl(270, 31%, 95%, 35%);
  --text40: hsl(270, 31%, 95%, 40%);
  --text45: hsl(270, 31%, 95%, 45%);
  --text50: hsl(270, 31%, 95%, 50%);
  --text55: hsl(270, 31%, 95%, 55%);
  --text60: hsl(270, 31%, 95%, 60%);
  --text65: hsl(270, 31%, 95%, 65%);
  --text70: hsl(270, 31%, 95%, 70%);
  --text75: hsl(270, 31%, 95%, 75%);
  --text80: hsl(270, 31%, 95%, 80%);
  --text85: hsl(270, 31%, 95%, 85%);
  --text90: hsl(270, 31%, 95%, 90%);
  --text95: hsl(270, 31%, 95%, 95%);
  --primary5: hsl(269, 31%, 75%, 5%);
  --primary10: hsl(269, 31%, 75%, 10%);
  --primary15: hsl(269, 31%, 75%, 15%);
  --primary20: hsl(269, 31%, 75%, 20%);
  --primary25: hsl(269, 31%, 75%, 25%);
  --primary30: hsl(269, 31%, 75%, 30%);
  --primary35: hsl(269, 31%, 75%, 35%);
  --primary40: hsl(269, 31%, 75%, 40%);
  --primary45: hsl(269, 31%, 75%, 45%);
  --primary50: hsl(269, 31%, 75%, 50%);
  --primary55: hsl(269, 31%, 75%, 55%);
  --primary60: hsl(269, 31%, 75%, 60%);
  --primary65: hsl(269, 31%, 75%, 65%);
  --primary70: hsl(269, 31%, 75%, 70%);
  --primary75: hsl(269, 31%, 75%, 75%);
  --primary80: hsl(269, 31%, 75%, 80%);
  --primary85: hsl(269, 31%, 75%, 85%);
  --primary90: hsl(269, 31%, 75%, 90%);
  --primary95: hsl(269, 31%, 75%, 95%);
  --secondary5: hsl(313, 31%, 31%, 5%);
  --secondary10: hsl(313, 31%, 31%, 10%);
  --secondary15: hsl(313, 31%, 31%, 15%);
  --secondary20: hsl(313, 31%, 31%, 20%);
  --secondary25: hsl(313, 31%, 31%, 25%);
  --secondary30: hsl(313, 31%, 31%, 30%);
  --secondary35: hsl(313, 31%, 31%, 35%);
  --secondary40: hsl(313, 31%, 31%, 40%);
  --secondary45: hsl(313, 31%, 31%, 45%);
  --secondary50: hsl(313, 31%, 31%, 50%);
  --secondary55: hsl(313, 31%, 31%, 55%);
  --secondary60: hsl(313, 31%, 31%, 60%);
  --secondary65: hsl(313, 31%, 31%, 65%);
  --secondary70: hsl(313, 31%, 31%, 70%);
  --secondary75: hsl(313, 31%, 31%, 75%);
  --secondary80: hsl(313, 31%, 31%, 80%);
  --secondary85: hsl(313, 31%, 31%, 85%);
  --secondary90: hsl(313, 31%, 31%, 90%);
  --secondary95: hsl(313, 31%, 31%, 95%);
  --accent5: hsl(329, 31%, 60%, 5%);
  --accent10: hsl(329, 31%, 60%, 10%);
  --accent15: hsl(329, 31%, 60%, 15%);
  --accent20: hsl(329, 31%, 60%, 20%);
  --accent25: hsl(329, 31%, 60%, 25%);
  --accent30: hsl(329, 31%, 60%, 30%);
  --accent35: hsl(329, 31%, 60%, 35%);
  --accent40: hsl(329, 31%, 60%, 40%);
  --accent45: hsl(329, 31%, 60%, 45%);
  --accent50: hsl(329, 31%, 60%, 50%);
  --accent55: hsl(329, 31%, 60%, 55%);
  --accent60: hsl(329, 31%, 60%, 60%);
  --accent65: hsl(329, 31%, 60%, 65%);
  --accent70: hsl(329, 31%, 60%, 70%);
  --accent75: hsl(329, 31%, 60%, 75%);
  --accent80: hsl(329, 31%, 60%, 80%);
  --accent85: hsl(329, 31%, 60%, 85%);
  --accent90: hsl(329, 31%, 60%, 90%);
  --accent95: hsl(329, 31%, 60%, 95%);
}
