.HoverHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding: 20px;
  border-radius: 8px;
  flex-grow: 1;
  background-color: var(--secondary10);
  &:hover {
    background-color: var(--secondary20);
    transform: scale(1.1);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
}

.HoverHomeActions {
  display: flex;
  flex-grow: 1;
  gap: 8px;
  padding: 20px;
  align-items: center;
  border-radius: 8px;
  background-color: var(--secondary10);
  &:hover {
    background-color: var(--secondary20);
    transform: scale(1.1);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 0px 10px;
  }
}
.WelcomeHome {
  font-weight: bold;
  font-size: clamp(10px, 5vw, 50px);
  color: var(--accent);
}
